@import "tailwindcss";

/* uzak, obojen scroll */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #166534 #1f2937; /* thumb track - Firefox */
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #166534;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #15803d;
}
